.game-container {
    position: absolute;
    width: 400px;
    height: 400px;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    text-align: center;
}

.game-card-container {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-content: space-around;
    padding: 2.5px;
}

.game-card {
    width: 50px;
    height: 50px;
    /* for vertically centering text */
    line-height: 50px;
    border: none;
    padding: 0;
    margin: 2.5px;
}

    .game-card .inner {
        width: 100%;
        height: 100%;
        line-height: inherit;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
        
        .game-card:hover {
            cursor: pointer;
        }

        .game-card-flipped .inner {
            transform: rotateY(180deg);
        }

        .game-card .inner .front,
        .game-card .inner .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .game-card .inner .front {
            background-color: #c3c3c3;
        }

        .game-card .inner .back {
            color: white;
            font-size: 20px;
            line-height: inherit;
            text-align: center;
            transform: rotateY(180deg);
        }

        .game-card:hover .inner .front {
            opacity: 0.8;
        }

.game-btn {
    font-size: 20px;
    border: none;
    padding: 7px 15px;
}

.game-btn:hover {
    opacity: 0.8;
}
